choregraphe
.env
Pepper_env

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints
.DS_Store
.idea/
.vscode/
*.log
logs/
*.sqlite3
db.sqlite3
__pypackages__/
.coverage
htmlcov/
web/
docker/letta-data
docker/redis-data